.post-container {
	border: 1px solid lightgray;
	margin: 20px 0;
	width: 640px;
}

.likes- {
	padding-left: 3%;
	font-size: 0.8rem;
	font-weight: bold;
}

.likes- img {
	height: 20px;
	padding-top: 5px;
	padding-right: 15px;
}

.post-header {
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px;
}
.post-header img {
	border-radius: 50%;
	height: 100%;
}

.post-header p {
	padding-left: 15px;
	font-size: 1rem;
	font-weight: bold;
}
